body {
    margin: 0 auto;
}

/* NAVBAR */
.navbar {
    background-color: #F5F5F5;
    height: 90px;
    width: 100%;
    width: 102vw;
    top: 0;
    padding: 16px;
    display: flex;
    align-items: center;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    display: flex;
}

.navbar-links-items {
    padding: 0 1rem 0 1rem;
    font-family: sans-serif;
    font-size: 1rem;
}

.navbar-links-items > a {
    text-decoration: none;
    color: black;
 }
/* NAVBAR */

/* SELECTED PRODUCT PAGE CONTENT */
.product-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-page-content > div {
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-info > h4 {
    margin-bottom: 2rem;
    text-align: right;
    font-size: 3rem;
}

.product-info > p {
    margin-bottom: 4rem;
    text-align: right;
    font-size: 1rem;
    font-family: sans-serif;
    width: 80%;
    text-align: justify;
}
/* SELECTED PRODUCT PAGE CONTENT */

.checkout-container {
    display: flex;
    flex-direction: row;
}

#selected-house {
    margin-top: 2rem;
    width: 25rem;
    height: 21rem;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
}

form > #name-input {
    border: none;
    background: #f4f4f4;
    height: 1.5rem;
    padding: 4px;
    font-style: italic;
    margin-bottom: 1rem;
}

form > #cellphone-input {
    border: none;
    background: #f4f4f4;
    height: 1.5rem;
    padding: 4px;
    font-style: italic;
    margin-bottom: 1rem;
}

form > #message-input {
    border: none;
    background: #f4f4f4;
    height: auto;
    padding: 4px;
    font-style: italic;
    margin-bottom: 2rem;
}

 #submit-input {
    left: 50%;
    right: 50%;
    width: 8rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 4rem;
}

.confirmation-message-element {
    display: flex;
    align-self: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 4rem;
}

.validate-message-element {
    display: flex;
    align-self: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 4rem;
}

/* FOOTER */
footer {
    background-color: #F5F5F5;
    width: 100vw;
    padding: 16px 16px 16px 16px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-media {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 2rem;
}
.footer-links-walkthrough {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 2rem;
}

.footer-links-media > li {
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 1rem;
}

.footer-links-media > li > a {
    text-decoration: none;
}

.footer-links-walkthrough > li {
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 17px;
    margin-bottom: 1rem;
    color: black;
}

.footer-links-walkthrough > li > a {
    text-decoration: none;
    color: black;
}

.footer-links > li {
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 1rem;
}

.footer-links > li > a {
    text-decoration: none;
}

.social-media-icons {
    width: 2rem;
    height: 2rem;
}

.rights {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.5rem;
    font-weight: lighter;
}
/* FOOTER */


@media (min-width: 1280px)
{
    .navbar-links-items {
        padding: 0 1rem 0 1rem;
        font-family: sans-serif;
        font-size: 1rem;
    }

    .navbar-links-items > a {
       text-decoration: none;
    }

    .header-title {
        font-family: 'Inria Serif';
        text-align: left;
        font-weight: 400;
        font-size: 4rem;
        line-height: 38px;
    } 

    .header-content {
        font-family: sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .content-container {
        min-height: calc(100vh - 22rem);
        margin-bottom: -16rem;
        padding: 4px 16px 4px 16px;
    }    

    .push {
        height: 10rem;
    }

    footer {
        background-color: #F5F5F5;
        width: 100vw;
        padding: 16px 16px 16px 16px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .upper-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 95%;
    }

    .footer-links-media {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-right: 2rem;
    }
    .footer-links-walkthrough {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 2rem;
    }
    
    .footer-links-media > li {
        margin: 5px 0 5px 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 1.5rem;
        line-height: 17px;
        margin-bottom: 1rem;
    }
    
    .footer-links-media > li > a {
        text-decoration: none;
    }
    
    .footer-links-walkthrough > li {
        margin: 5px 0 5px 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 1rem;
        line-height: 17px;
        margin-bottom: 1rem;
        color: black;
    }
    
    .footer-links-walkthrough > li > a {
        text-decoration: none;
        color: black;
    }

    .rights {
        text-align: center;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.6rem;
        line-height: 0.5rem;
    }

}
