body {
    margin: 0 auto;
}

/* SLIDER TEST */
.carousel {
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0)
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}
/* SLIDER TEST */

/* NAVBAR */
.navbar {
    background-color: #F5F5F5;
    height: 90px;
    width: 100%; 
    width: 102vw;
    top: 0;
    padding: 16px;
    display: flex;
    align-items: center;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    display: flex;
}

.navbar-links-items {
    padding: 0 1rem 0 1rem;
    font-family: sans-serif;
    font-size: 1rem;
}

.navbar-links-items > a {
    text-decoration: none;
    color: black;
 }
/* NAVBAR */


/* PRODUCT PAGE CONTENT */
.product-page-content {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.house-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.house-pics-thumbnail {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.img-thumbnail {
    width: 9rem;
    height: 7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.highligth-pic {
    width: 24rem;
    height: 18rem;
}

.house-pics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.house-info-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.house-info-details > span {
    font-family: serif;
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.house-specs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.house-specs-columns {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.house-specs-columns  > span {
    font-family: sans-serif;
    font-size: 1.0rem;
}

.house-description-container {
    background-color: #EEEEEE;
    padding: 1rem;
    margin-bottom: 5rem;
}

.house-description-container > p {
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.8rem;
}

.house-additional-info-container {
    padding: 15px;
    margin-bottom: 5rem;

}

.house-additional-info-container > span {
    font-family: serif;
    font-weight: lighter;
    font-size: 2.5rem;
} 

.house-additional-info-container > p {
    font-family: sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    margin-top: 2rem;
}



/* PRODUCT PAGE CONTENT */


/* FOOTER */
footer {
    background-color: #F5F5F5;
    width: 100vw;
    padding: 16px 16px 16px 16px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-media {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 2rem;
}
.footer-links-walkthrough {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 2rem;
}

.footer-links-media > li {
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 17px;
    margin-bottom: 1rem;
}

.footer-links-media > li > a {
    text-decoration: none;
}

.footer-links-walkthrough > li {
    margin: 5px 0 5px 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 17px;
    margin-bottom: 1rem;
    color: black;
}

.footer-links-walkthrough > li > a {
    text-decoration: none;
    color: black;
    
}

.social-media-icons {
    width: 2rem;
    height: 2rem;
}

.rights {
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 0.5rem;
    font-weight: lighter;
}
/* FOOTER */


/* CONTACT AN AGENT BUTTON  */

button {
    align-self: center;
    width: max-content;
    padding: 12px;
    height: fit-content;
    background-color: #4d4c4b;
    border-radius: 5px;
    margin-bottom: 5rem;

}

button > a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
/* LOAD MORE BUTTON  */
